* {
  box-sizing: border-box;
}

.tasks-list-section {
  max-width: 1100px;
  /* border: 1px solid #2563eb; */
  /* border-radius: 20px; */
  padding: 10px;
}

.tasks-list-section h3 {
  padding: 20px;
  color: #2563eb;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task-btn {
  width: 120px;
  margin: 0 10px;
  background-color: #2563eb !important;
  color: #ffffff !important;
  border: 1px solid #2563eb !important;
}

.add-task-btn:hover {
  background-color: #ffffff !important;
  color: #2563eb !important;
}

.tasks-nav {
  display: flex;
}

.tasks-nav > a {
  width: 150px;
  display: flex !important;
  justify-content: center;
}

.list-meta {
  margin: 10px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.list-meta > div {
  display: flex;
  justify-content: center;
}

.list-meta > div > svg {
  margin-right: 5px;
}

.list-sm-col {
  width: 75px;
}

#due-date-col {
  width: 100px;
}

.single-task {
  margin: 10px 0;
  padding: 13px 0;
  border: 1px #2563eb solid;
  border-radius: 10px;
  box-shadow: 0 0 15px -5px #2563eb;
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-task > div {
  display: flex;
  justify-content: center;
}

.single-task:hover {
  background-color: #eef8ff;
  cursor: pointer;
}

#task-name {
  justify-content: start;
  padding-left: 10px;
}

.no-task-panel {
  background-color: rgba(137, 171, 245, 0.1);
}

.no-task-panel p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 50px 0;
  color: #2563eb;
}

#task-priority > div {
  width: 72px;
  justify-content: center;
  display: flex;
}

.task-btn {
  width: 35px;
}

.task-btn svg {
  width: 30px;
  height: 30px;
}

.btn-shake-green {
  background-color: transparent;
  transition: 0.4s ease-out;
}

.btn-shake-green:hover {
  color: #04a104;
  transform: scale(1.2);
  cursor: pointer;
}

.btn-shake-red {
  background-color: transparent;
  transition: 0.4s ease-out;
}

.btn-shake-red:hover {
  color: #e43f3f;
  transform: scale(1.2);
  cursor: pointer;
}

.green-cloud {
  color: #04a104;
  background-color: transparent;
}

@media screen and (min-width: 576px) {
  #due-date-col {
    width: 140px;
  }
}

@media screen and (min-width: 700px) {
  .list-sm-col {
    width: 95px;
  }
}
